.footer-conatiner{
    display: flex;
     /* height: 100vh;
     padding-bottom: 20px; */


}
.footer-subscription{
    background-color:#1a1717;
    display: flex;
    align-items: center;
    color: #ffffff;

    flex-direction: column;
    justify-content: center;
}
.footer-link-wrapper{
    display: flex;
    background-color:#1a1717;

    justify-content: space-around;
    /* padding-top: 30px; */
}
.footer-link-items{
    padding-top: 30px;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-weight: bold;
    color: #ffffff;

}
.footer-link-items a{
    font-weight: 100;
    padding-top: 10px;
    color: #ffffff;
    text-decoration: none;
}
.footer-link-icon{
    padding-top: 30px;
    padding-bottom: 30px;
    /* background-color: #ffffff; */
    position: relative;
    background-color:#1a1717;


}
.footer-link-icon{
    color:#ffffff;
    font-size:1rem;
}
.footer-link-icon .fa-brands{
  color: #000000;
  padding: 2px;
  background-color:#ffffff;
  border-radius: 50%;
  contain: content;

}
.footer-link-icon .fa-brands:hover{
    transition: all 0.3s ease-out;
    box-shadow: 0 5px 15px #2091c2;
}

.fa-facebook{
    position: absolute;
    right: 130px;

}
.fa-linkedin{
    position: absolute;
    right: 100px;

}
.fa-github{
    position: absolute;
    right: 70px;

}
.fa-instagram{
    position: absolute;
    right: 40px;
}
.fa-twitter{
    position: absolute;
    right:10px;
}
/* @media screen and  (max-width:900px) */
@media screen and (max-width:960px){
    .footer-link-wrapper{
        display: flex;
        justify-content: center;
        padding-top: 30px;
    }
    .footer-link-items{ 
        padding-top: 30px;
        padding-left: 100px;
        display: flex;
        flex-direction: column;
    } 
} 