.navbar{
  background-color:#1a1717; 
  /* box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.2); */

  /* border: 1px solid black; */
  display: flex;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
    
}
.nav-container{
    display: flex;
}
.home{
    margin-left: 1rem;
    font-size: 2rem;
}
.hori{
    color: #ffffff;
}
.hori:hover{
  
  transition: all 0.3s ease-out;

  box-shadow: 0 5px 15px #2091c2;
}

.menu-icon{
    display: none;
}
.navbar-logo{
  font-family:cursive;
    color: #ffffff;
  justify-self: start;
  margin-left: 10px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
    
    
}
.navbar-logo :hover{
  transition: all 0.3s ease-out;

  box-shadow: 0 5px 15px #2091c2;
}
.nav-menu{
    display: grid;
    grid-template-columns: repeat(5,auto);
   
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: end;
    margin-right: 2rem;
    
   

}
.nav-item {
    height: 80px;
    
  }
  .nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 100%;
    padding: 0.5rem 1rem;
    color: #ffffff;

  }
  .nav-link:hover{
    color: rgb(241, 235, 235);
    box-shadow: 0 5px 15px #2091c2;
    transition: all 0.3s ease-out;

  }
  .nav-link-mobile{
    display: none;
  }

  @media screen and (max-width:960px){
    .NavbarItem{
      position: relative;
    }
    .nav-menu{
      /* background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%); */
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 90vh;
      position: absolute;
      top:60px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
        
    }
    .nav-menu.active {
      background: #1a1818;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
    .nav-link {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
    .nav-link:hover {
      background-color: #000000;
      color: rgb(241, 235, 235);
      border-radius: 0;
    }
    .menu-icon{
      display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
  .clear{
    color: #ffffff;
    font-size:2rem ;
  }
  .clear:hover{
    
  transition: all 0.3s ease-out;

  box-shadow: 0 5px 15px #eb0d0d;
  }
  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }
  .nav-link-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #ffffff;
    padding: 14px 20px;
    border: 1px solid #383333;
    transition: all 0.3s ease-out;
  }
  .nav-link-mobile:hover {
    background: #000000;
    box-shadow: 0 5px 15px #2091c2;
    color: #ffffff;
    transition: 250ms;
  }
  .hori :hover{
    /* color: #2091c2; */
    transition: all 0.3s ease-out;

    box-shadow: 0 50px 15px #2091c2;
  }


    
  }